{% load static %}

<!-- footer -->
<div id="footer">
  <script src="https://jayeon-hanbang.com/js/jquery.ui.1.21.1/jquery-ui.min.js"></script>
  <div class="footer_mid" style="background:#2c665a;">
    <div class="to_service inner">
      <ul class="service_link">
        <li>
          <a href="/policy_personal">Privacy Policy</a>
        </li>
        <li class="last_child">
          <a href="/policy_agree">Terms of Use</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer_copyright">
    <div class="copyright_wrap inner">
      <div class="f_left">
        <img src="{% static 'oscar/img/ui/logo_lohacell_en_small.png' %}" alt="">
      </div>
      <div class="f_cen">
        <p class="copyright_tit">COMPANY INFORMATION</p>
        <address class="address pc-add">
          <p><em>Company Name : </em>DR.LOHACELL<em class="ad-mr">CEO : </em>STEVE LEE 
          <p><em>TEL : </em>070-4942-2555<em class="ad-mr">Address : </em>271, Digital-ro Guro-gu, Seoul, 08381, Republic of Korea</p>
          <p><em>Business Reg. : </em>104-86-36478</p>
        </address>
        <address class="address mo-add">
          <span><em>Company Name : </em>DR.LOHACELL<em class="ad-mr">CEO : </em>STEVE LEE</span><span class="mob-line"><em class="mo-mr">TEL : </em>070-4942-2555</span><span class="mob-line"><em class="ad-mr">Address : </em>271, Digital-ro Guro-gu, Seoul, 08381, Republic of Korea</span>
          <em>Business Reg. : </em>104-86-36478
        </address>
        <p class="copyright">Copyright &copy; DR.LOHACELL Corp. ALL RIGHTS RESERVED.</p>
      </div>
      <div class="f_right">
        <p class="copyright_tit">営業時間</p>
        <p class="timetable01"><span class="s_m01">月/水/金 AM 10:00~PM 09:00</span><span>火/木 PM 02:00~PM 09:00</span><span class="d_b">土 AM 10:00~PM 04:00</span><span class="s_m02">休憩時間 PM 01:00~PM 02:00</span></p>
        <p class="timetable02">&#42; 日曜日/祝日休業</p>
      </div>
    </div>
  </div>
</div>
<!-- //footer -->
