{% load static %}

<!-- mo_header -->
<style type="text/css">
  .headerbanner {
    background: #4faa99;
  }
  .mo_header .mo_menu {
    position: absolute;
    top: 10%;
    left: 5%;
  }
  .mo_header .mo-header-util {
    position: absolute;
    top: 10%;
    right: 5%;
}
#header .gnb_wrap .gnb {
    width: 50%;
    padding-left:100px;
}
#header .gnb_wrap .gnb > li {
    float: left;
    width: 33%;
}
</style>
<div id="header" class="mo_header">
  <div class="mo_menu">
    <div class="col">
      <div class="con">
        <div class="bar top"></div>
        <div class="bar middle"></div>
        <div class="bar bottom"></div>
      </div>
    </div>
  </div>
  <h1 class="mo_logo">
    <a href="/">
      <!-- <img src="https://i.gr-tn.co.kr/jayeon_2020/images/logo.png" alt=""> -->
      <img src="{% static 'oscar/img/ui/logo_lohacell_en.png' %}" alt="">
    </a>
  </h1>
  <div class="mo-header-util">
    <a href="javascript:void(0)" class="mo-header-call">電話相談</a>
    <a href="javascript:void(0)" class="mo-header-kakao">카카오톡상담</a>
  </div>
  <div class="mo_nav_wrap">
    <div class="nav_align">
      <div class="mo_top_bg">
        <div class="close mo_mar_lr">
          <span></span>
        </div>
        <ul class="user mo_mar_lr">
          <li><a href="" id="lochk">LOG IN</a></li>
          <li class="last_child"><a href="/user/signup">JOIN</a></li>
        </ul>
      </div>
      <ul class="mo_gnb">
            <li>
                <a href="javascript:void(0)" class="has-sub mo_gnb_link mo_mar_lr">K-DIET
            <!-- <img src="https://i.gr-tn.co.kr/jayeon_2020/images/mo_m_arrow.png" alt=""> -->
          </a>
          <ul class="mo_submenu">
            <li><a href="/detox_capsule/">オフタイムカプセル</a></li>
            <li><a href="/detox_mimi/">美味湯</a></li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)" class="has-sub mo_gnb_link mo_mar_lr">DR.LOHACELL
          </a>
          <ul class="mo_submenu">
                          <li><a href="/introduce">DR.LOHACELL</a></li>
                          <li><a href="/introduce">ロハセル漢方医院</a></li>
                          <li><a href="/lohacell_system">システム</a></li>
                          <li><a href="/research">漢方薬研究</a></li>
                          <li><a href="/medicine">清浄漢方薬</a></li>
                                      </ul>
          
        </li>
             <!--      <li>
                      <a href="javascript:void(0)" class="has-sub mo_gnb_link mo_mar_lr">REAL REVIEW
          </a>
          <ul class="mo_submenu">
                                        <li><a href="/real/photo">리얼 사진후기</a></li>
                          <li><a href="/real/handwrite">리얼 자필후기</a></li>
                                      </ul>
          
        </li> -->
        <li>
            <a href="/event/event" class="mo_gnb_link mo_mar_lr">이벤트</a>
        </li>
        <li>
          <a href="/event/notice" class="mo_gnb_link mo_mar_lr">공지사항</a>
        </li>
        <li>
          <a href="/online/counsel" class="mo_gnb_link mo_mar_lr">온라인 상담</a>
        </li>
                  <li>
                      <a href="/online/kakaotalk" class="mo_gnb_link mo_mar_lr">카카오톡 상담</a>
          
        </li>
                </ul>
    </div>
  </div>
  <div class="headerbanner"><img src="{% static 'oscar/img/ui/banner_header_02.jpg' %}" alt=""></div>
</div>
<!-- //mo_header -->
<!-- pc header -->
<div id="header" class="pc_header">
  <div class="header_top" style="background:#2c665a">
    <div class="inner">
      <div class="util_box">
        <h3>よく痩せる！簡単で早く健康に</h3>
        <!-- <ul class="util">
          <li><a href="" alt="login" id="lochk">LOG IN</a></li>
          <li class="last_child"><a href="" alt="join in">JOIN</a></li>
        </ul> -->
      </div>
    </div>
  </div>

  <div class="gnb_wrap 001">
    <h1 class="logo"><a href="/"><img style="width:70%" src="{% static 'oscar/img/ui/logo_lohacell_en.png' %}" alt=""></a></h1>
    <ul class="gnb">
      <li><a href="/detox_capsule/">K-DIET</a></li>
      <li><a href="/introduce">DR.LOHACELL</a></li>
      <!-- <li><a href="/real_reivew">REAL REVIEW</a></li> -->
      <li><a href="/notice">NOTICE</a></li>
    </ul>
  </div>
  <div class="submenu_wrap">
    <div class="submenu_inner">
      <div>
        <ul class="submenu">
          <li><a href="/detox_capsule/">オフタイムカプセル</a></li>
          <li><a href="/detox_mimi/">美味湯</a></li>
        </ul>
        <ul class="submenu">
          <li><a href="/introduce">ロハセル漢方医院</a></li>
          <li><a href="/lohacell_system">システム</a></li>
          <li><a href="/research">漢方薬研究</a></li>
          <li><a href="/medicine">清浄漢方薬</a></li>
        </ul>
        <!-- <ul class="submenu">
          <li><a href="/real_reivew">体験レビュー</a></li>
        </ul> -->
        <ul class="submenu">
          <!-- <li><a href="/event">イベント</a></li> -->
          <li><a href="/notice">お知らせ</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="headerbanner"><img src="{% static 'oscar/img/ui/banner_header_02.jpg' %}" alt=""></div>
</div>
<!-- //header -->
